body { background-color: #d7e2e6; }
p { color: #666; } 
#welcome h2, #lightbox h3, #lightbox .shortdesc, #lightbox a, #about a, #photocredit, #photocredit a, #work h3, #work a, #work .shortdesc, #work-current-item, #work-current-shortdesc, #footer-nav, #footer-nav a, #code-page h2, #code-page a, #code-page label { color: #1756a4; }
#contact-name, #contact-email, #contact-msg, #nav-carousel a, #nav-balloon a, #nav-widgetry a { color: #fff; }
#code-page nav a:hover { color: #faf5ca; }
#conf { color: #99b4cc; }
#contact li a { color: #666; }
#copyright { color: #999; }