body { background-color: #d7e2e6; }
p { color: #666; } 
#welcome h2 { color: #1756a4; }
#contact-name, #contact-email, #contact-msg { color: #fff; }
#conf { color: #99b4cc; }
#contact li a { color: #666; }
