body { background: url(../a/bg_8bit.png) left top repeat-x; }
#wrap { position: relative; width: 920px; margin: 0px auto; border: 1px solid red; }
#mast { position: absolute; display: block; width: 557px; height: 109px; left: 67px; top: 28px; margin: 10px; text-indent: -9999px; background: url('../a/mast_8bit.png') left top no-repeat; opacity: .5; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); z-index: 1;}
#toon { position: absolute; left: 669px; top: 0; z-index: 9; opacity: .5; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); }
  #ref { position: absolute; left: 0; top: 0; z-index: 1 }
#nav { position: absolute; left: 0; top: 180px; width: 898px; height: 341px; z-index: 5; background: url('../a/cloud_8bit.png') left top no-repeat; opacity: .5; -ms-filter: alpha(opacity=50); filter: alpha(opacity=50); }
#nav li { display: block; height: 226px; margin-top: 43px; float: left; text-indent: -9999px; }
#nav a { display: block; width: 100%; height: 100%; }
#nav-about { width: 177px; margin-left: 95px; background: url('../a/about_8bit_off.png') left top no-repeat; }
#nav-work { width: 177px; margin-left: 84px; background: url('../a/work_8bit_off.png') left top no-repeat; }
#nav-contact { width: 212px; margin-left: 101px; background: url('../a/contact_8bit_off.png') left top no-repeat; }
#content { position: relative; width: 680px; margin: 540px auto 100px auto; border: 1px solid yellow; }
/* #footer { position: relative; } */
