body { background: url(../a/bg_8bit.png) left top repeat-x; }
#wrap { position: relative; width: 920px; margin: 0px auto; }
#mast { position: relative; display: block; width: 557px; height: 109px; left: 77px; top: 38px; margin: 0px; text-indent: -9999px; background: url('../a/mast_8bit.png') left top no-repeat; z-index: 1; }
#toon { position: relative; left: 669px; margin: -109px 0 0; z-index: 9; }
  #ref { position: absolute; left: 0; top: 0; z-index: 1; opacity: 0.5 }
#nav { position: relative; width: 898px; height: 341px; margin: -183px 0 0; z-index: 5; background: url('../a/cloud_8bit_on.png') left top no-repeat; }
#nav li { display: block; height: 226px; margin-top: 43px; float: left; text-indent: -9999px; }
#nav a { display: block; width: 100%; height: 100%; }
#nav-about { width: 177px; margin-left: 95px; background: url('../a/about_8bit_off.png') left top no-repeat; }
#nav-work { width: 177px; margin-left: 84px; background: url('../a/work_8bit_off.png') left top no-repeat; }
#nav-contact { width: 212px; margin-left: 101px; background: url('../a/contact_8bit_off.png') left top no-repeat; }
#content { margin: 0 auto; background: url('../a/shelf_bg_8bit.png') 48px top repeat-y; }
#copy { position: relative; width: 680px; margin: 0 auto; }
#welcome { display: none; top: 20px; }
#about { padding: 0 0 30px }
#about h2 { display: none; }
#footer { position: relative; height: 100px; top: -20px; padding: 120px 0 0; background: url('../a/shelf_bottom_8bit.png') 48px top no-repeat; } 
