/* ### standardizing ### */
body { font-size: 62.5%; }
input, select, th, td { font-size: 1em; }

/* ### global ### */
#welcome h2 { font-family:"news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 3.4em; font-weight: 700; }
#welcome p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.4em; line-height: 1.2em; }
#lightbox p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.2em; line-height: 1.3em; }
#lightbox h3 { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 3.0em; font-weight: 700; line-height: 1.3em; }
#lightbox .shortdesc { font-size: 2.0em; }
#lightbox .link { font-size: 2.0em; }
#lightbox .longdesc { font-size: 2.0em; line-height: 1.4em; }
#about p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.2em; line-height: 1.3em; }
#about #photocredit { font-size: 1.4em; }
#work p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.2em; line-height: 1.3em; }
#work h3 { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 3.0em; font-weight: 700; line-height: 1.3em; }
#work .shortdesc { font-size: 2.0em; }
#work #work-current-item { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 3.0em; font-weight: 700; line-height: 1.3em; }
#work #work-current-shortdesc { font-size: 2.0em; }
#contact p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.2em; line-height: 1.3em; }
#contact-name, #contact-email, #contact-msg { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 0.8em; }
#conf { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 0.7em; }
#contact li { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.0em; line-height: 1.2em; }

/*** ^footer ***/
#footer { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; line-height: 1.2em; } 
#footer-nav { font-size: 1.6em; }
#copyright { font-size: 1.2em; }

/*** ^code-page ***/
#nav-carousel a, #nav-balloon a, #nav-widgetry a { font-family:"news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; text-decoration: none;}
#nav-carousel a strong, #nav-balloon a strong, #nav-widgetry a strong { font-size: 3.0em; font-weight: 700;}
#nav-carousel a em, #nav-balloon a em, #nav-widgetry a em { display: block; width: 150px; font-size: 1.6em; line-height: 1.3em; }
#code-page #content h2 { font-family:"news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 3.4em; font-weight: 700; }
#code-page #content p { font-family: "news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 2.4em; line-height: 1.2em; }
#carousel-form label { font-family:"news-gothic-std-1","news-gothic-std-2", Arial, Helvetica; font-size: 1.8em; font-weight: 700; }